<<<<<<< HEAD
body{
	margin: 0px;
	background-color: #9DA2B8;
	font-family: Helvetica, Arial, Sans-Serif;
}

h1, h2, h3, p{
	text-align: center;
}
#nav{
	background-color: #CECFC9;
	min-height: 90px;
}
#navcontainer{
	margin: 10px;
}
#logo{
	display: inline-block;
	height: auto;
	width: 100%;
	max-width: 70px;
}
#logo img{
	max-width: 100px;
	height: auto;
	padding-left: 10%;
	/*max-height: 60px;*/
	display: inline-block;
	margin-left: 5rem;
}

.menuhead{
	float: right;
	display: inline-block;
	padding-top: 1%;
}

.menu-item{
	float: left;
	padding-right: 15px;
	list-style: none;
	text-decoration: none;
}

.menu-item a{
	text-decoration: none;
}
.center{
	max-width: 1000px;
	margin: 10px auto;
	background-color: #823B1D;
	padding: 10px;
}

#banner{
	    /* The image used */
    background-image: url(images/Header.jpg);

    /* Set a specific height */
    height: 600px; 
    margin: 0;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 400;
}



#menu{
	
	max-width: 95%;
	margin: 0 auto;
	height: auto;
}

#menu img{
	margin: auto;
	width: 100%;
	height: auto;
}
#hours{
	background-color: #7D6750;
	max-width: 100%;
	margin: 5% auto;
}

#reserveform{
	background-color: #E78427;
	max-width: 95%;
	margin: 20px auto;
	

}

footer{
	background-color: #5A1414;
}
#reservations{
padding:5%;

background-color: #E78427;
}
#map{
	height: 50vh;
	margin-top: 5%;
}
#contactinfo{
	margin: 0 auto;
	max-width: 1000px;
}

input[type="text"] {
	 	width: 70%;
	 	margin: auto;
	 }



@media (min-width: 800px){
	#menuright{
		display: inline-block;
		float: right;
		width: 50%;
		}
	#menuleft{
		display: inline-block;
		float: left;
		width: 50%;
	}
	#clear{
		clear: both;
	}
	.clearfix{
		overflow: auto;
	}
	 
}

.ui-datepicker-calendar{
	background-color: #fff;
}

#ui-datepicker-div{
	background-color: #fff;
}

.reservation-form{
	margin: 5% auto;
	text-align: center;
	
	
=======
body{
	margin: 0px;
	background-color: #9DA2B8;
	font-family: Helvetica, Arial, Sans-Serif;
}

h1, h2, h3, p{
	text-align: center;
}
#nav{
	background-color: #CECFC9;
	min-height: 90px;
}
#navcontainer{
	margin: 10px;
}
#logo{
	display: inline-block;
	height: auto;
	width: 100%;
	max-width: 70px;
}
#logo img{
	max-width: 100px;
	height: auto;
	padding-left: 10%;
	/*max-height: 60px;*/
	display: inline-block;
	margin-left: 5rem;
}

.menuhead{
	float: right;
	display: inline-block;
	padding-top: 1%;
}

.menu-item{
	float: left;
	padding-right: 15px;
	list-style: none;
	text-decoration: none;
}

.menu-item a{
	text-decoration: none;
}
.center{
	max-width: 1000px;
	margin: 10px auto;
	background-color: #823B1D;
	padding: 10px;
}

#banner{
	    /* The image used */
    background-image: url(images/Header.jpg);

    /* Set a specific height */
    height: 600px; 
    margin: 0;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 400;
}



#menu{
	
	max-width: 95%;
	margin: 0 auto;
	height: auto;
}

#menu img{
	margin: auto;
	width: 100%;
	height: auto;
}
#hours{
	background-color: #7D6750;
	max-width: 100%;
	margin: 5% auto;
}

#reserveform{
	background-color: #E78427;
	max-width: 95%;
	margin: 20px auto;
	

}

footer{
	background-color: #5A1414;
}
#reservations{
padding:5%;

background-color: #E78427;
}
#map{
	height: 50vh;
	margin-top: 5%;
}
#contactinfo{
	margin: 0 auto;
	max-width: 1000px;
}

input[type="text"] {
	 	width: 70%;
	 	margin: auto;
	 }



@media (min-width: 800px){
	#menuright{
		display: inline-block;
		float: right;
		width: 50%;
		}
	#menuleft{
		display: inline-block;
		float: left;
		width: 50%;
	}
	#clear{
		clear: both;
	}
	.clearfix{
		overflow: auto;
	}
	 
}

.ui-datepicker-calendar{
	background-color: #fff;
}

#ui-datepicker-div{
	background-color: #fff;
}

.reservation-form{
	margin: 5% auto;
	text-align: center;
	
	
>>>>>>> bf7a15a8ec105a09fb3e776e1be2b6fa48a8cb48
}